@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;700&display=swap'); /* font-family: 'Overpass Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); /*font-family: 'Itim', cursive; */

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Overpass Mono', monospace;
    --fonte3: 'Itim', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: gray;

    min-height: 100vh;

    font-family: var(--fonte1);
}

header {
    background-color: black;

    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;

    font-family: var(--fonte2);
    font-size: 3em;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header span a:hover {
    color: blue;
    text-decoration: underline;
    transition-duration: 0.5s;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
    transition-duration: 0.5s;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;

    font-family: var(--fonte3);
    font-weight: lighter;
    font-size: 1.5em;
    line-height: 2em;

}

section.normal {
    background-color: white;

    color: black;
    text-align: center;
    
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.74);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-attachment: fixed;
    
    color: white;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center right;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: center right;
    
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.550);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

    width: 300px;
    padding: 15px;
    margin: auto;
    border-radius: 20px;

    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

footer {
    background-color: black;

    color: white;
    font-size: 0.8em;
    text-align: center;

    padding: 10px;
}

